<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a> -->

        <div id="space">
          <div id="my_cube">
            <!-- <div>
                <img src="../images/11.jpg" alt="photo">
                <p>旋转立方体</p>
              </div> -->
              <link rel="stylesheet" href="../css/index-2.css">
              <div class="wrapper">
                <div class="wrap in-front"><img src="../images//cube/front.jpg" alt="front"></div>
                <div class="wrap in-back"><img src="../images/cube/back.jpg" alt="back"></div>
                <div class="wrap in-left"><img src="../images/cube/left.jpg" alt="left"></div>
                <div class="wrap in-right"><img src="../images/cube/right.jpg" alt="right"></div>
                <div class="wrap in-top"><img src="../images/cube/top.jpg" alt="top"></div>
                <div class="wrap in-bottom"><img src="../images/cube/bottom.jpg" alt="bottom"></div>
        
                <div class="out out-front"><img src="../images/cube/front.jpg" alt="front"></div>
                <div class="out out-back"><img src="../images/cube/back.jpg" alt="back"></div>
                <div class="out out-left"><img src="../images/cube/left.jpg" alt="left"></div>
                <div class="out out-right"><img src="../images/cube/right.jpg" alt="right"></div>
                <div class="out out-top"><img src="../images/cube/top.jpg" alt="top"></div>
                <div class="out out-bottom"><img src="../images/cube/bottom.jpg" alt="bottom"></div>
              </div>
        
          </div>
        </div>

      {% endif %} 

      <div id="space"></div>

      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <!-- 这里旋转立方体 -->
<style type="text/css">
  #my_cube{
    /* position: relative;
    top:250px;
    left:15px; */
    position: absolute;
    top:100px;
    left: 200px;
  }

  #space{
    height:110px;
    width:100px;
  }
</style>
  <!-- <div id="my_cube">
      <link rel="stylesheet" href="../css/index-2.css">
      <div class="wrapper">
        <div class="wrap in-front"><img src="../images//cube/front.jpg" alt="front"></div>
        <div class="wrap in-back"><img src="../images/cube/back.jpg" alt="back"></div>
        <div class="wrap in-left"><img src="../images/cube/left.jpg" alt="left"></div>
        <div class="wrap in-right"><img src="../images/cube/right.jpg" alt="right"></div>
        <div class="wrap in-top"><img src="../images/cube/top.jpg" alt="top"></div>
        <div class="wrap in-bottom"><img src="../images/cube/bottom.jpg" alt="bottom"></div>

        <div class="out out-front"><img src="../images/cube/front.jpg" alt="front"></div>
        <div class="out out-back"><img src="../images/cube/back.jpg" alt="back"></div>
        <div class="out out-left"><img src="../images/cube/left.jpg" alt="left"></div>
        <div class="out out-right"><img src="../images/cube/right.jpg" alt="right"></div>
        <div class="out out-top"><img src="../images/cube/top.jpg" alt="top"></div>
        <div class="out out-bottom"><img src="../images/cube/bottom.jpg" alt="bottom"></div>
      </div>

  </div> -->

  <!-- 这里是旋转立方体 -->

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>