<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <!-- 这里旋转立方体 -->

  <div>
    <img src="https://image.baidu.com/search/detail?ct=503316480&z=&tn=baiduimagedetail&ipn=d&word=%E5%9B%BE%E7%89%87&step_word=&ie=utf-8&in=&cl=2&lm=-1&st=-1&hd=&latest=&copyright=&cs=1928494003,834939557&os=3655171514,1850343112&simid=3318195284,285925989&pn=12&rn=1&di=7214885350303334401&ln=938&fr=&fmq=1684036971909_R&ic=&s=undefined&se=&sme=&tab=0&width=&height=&face=undefined&is=0,0&istype=2&ist=&jit=&bdtype=0&spn=0&pi=0&gsm=1e&objurl=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-11-13%2F5a0935a0e41fb.jpg&rpstart=0&rpnum=0&adpicid=0&nojc=undefined&dyTabStr=MCwzLDEsNiw0LDUsNyw4LDIsOQ%3D%3D" alt="">
    <p>旋转立方体</p>
  </div>


  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>